.service-card {
    background-color: #222326;
    border-radius: 8px;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.service-card h3 {
    margin-top: 0;
    color: #F4F5F8;
}

.service-card p {
    color: #717274;
}