.codeBlock {
    background-color: var(--surface-2);
    padding: var(--service-vertical-padding) var(--service-horizontal-padding);
    border-radius: 16px;
    margin: 0;
    border: 1px solid var(--btn-border-primary);
}

.language-yaml {
    font-family: var(--font-code);
    font-size: var(--font-size-xs);
    line-height: 1.4;
    color: var(--fg-muted);
    opacity: 0.85;
}


.language-markdown {
    font-family: var(--font-code);
    font-size: var(--font-size-xs);
    line-height: 1.2;
    color: var(--fg-muted);
    opacity: 0.85;
}