/* Generic section styles */
.Section {
    padding: 2rem 0;
    max-width: flex;
    margin: 0 auto;
    text-align: left;
    background-color: #eecd58;
    border-bottom: #2c2c2c 2px solid;
    border-top: aquamarine 2px solid;
}

.Section header .title {
    margin: 0 0 0.3rem;
    color: #f6a623;
}

.Section header .subtitle {
    margin: 0;
    color: #4c6a4c;
}

.Section .content {
    margin-top: 2rem;
    display: grid;
    gap: 2rem;
    color: #2c2c2c;
    background-color: rgb(231, 115, 94);
    justify-items: center;
}