/* Generic section styles */
.Section {
    padding: 2rem 0;
    max-width: flex;
    margin: 0 auto;
    text-align: left;
    background-color: #0F1012;

}

.Section header {
    margin-bottom: 1rem;
    text-align: center;
}

.Section header .title {
    margin: 0 0 0.3rem;
    color: #F4F5F8;
}

.Section header .subtitle {
    margin: 0;
    color: #717274;
}

.Section .content {
    margin-top: 2rem;
    display: grid;
    gap: 2rem;
    color: #717274;
    background-color: #0F1012;
    justify-items: center;
}