.contact-layout {
    padding-left: var(--page-padding-left);
    padding-right: var(--page-padding-right);
    max-width: var(--page-max-width);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--margin-xl);
    margin-bottom: var(--margin-xl);
}

.contact-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: var(--gap-xxl);
}

.contact-inner-left {
    flex: 1 1 0%;
    position: sticky;
    top: calc(var(--header-height) + 32px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.contact-inner-right {
    flex: 1 1 0%;
    border: 1px solid var(--surface-2);
    border-radius: var(--btn-corner-radius);
}

.contact-form-header {
    padding: 0 24px;
    min-height: 56px;
    border-bottom: 1px solid var(--surface-2);
    display: flex;
    align-items: center;
}

.contact-form-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 24px;
}

@media (max-width: 599px) {
    .contact-inner {
        flex-direction: column;
        align-items: stretch;
        gap: 0;
        
    }
    .contact-inner-left {
        position: static;
        top: auto;
        align-items: center;
    }

}