.card-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xs);
    margin: var(--card-grid-margin);
    align-items: stretch;
    
}

.card {
    background-color: var(--surface-2);
    border-radius: 30px;
    padding: var(--card-vertical-padding) var(--card-horizontal-padding);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 336px;
    height: 360px;
}

.card h3 {
    order: 1;
    flex-grow: 0;
    margin: var(--card-margin) 0 var(--card-margin);
    color: var(--fg-title);
    height: 32px;
}

.card-icon {
    order: 2;
    flex-grow: 0;
    width: 128px;
    height: 128px;
    align-self: center;
}
.card p {
    order: 3;
    flex-grow: 0;
    color: var(--fg-muted);
    vertical-align: bottom;
    margin: 0;
    height: 48px;
}

@media (max-width: 599px) {
    .card-grid {
        flex-direction: column;
        align-items: center;
    }
    .card {
        width: 100%;
        max-width: 336px;
        margin-bottom: var(--gap-sm);
    }
}