/* Generic subsection styles */
.Subsection {
    padding: 2rem 1.5rem;
    max-width: flex;
    margin: 0 auto;
    text-align: center;
    background-color: #2c2c2c;
    border-radius: 8px;

}

.Subsection header {
    margin-bottom: 1rem;
    text-align: Left;
}

.Subsection header .title {
    margin: 0 0 0.3rem;
    color: #F4F5F8;
}

.Subsection header .subtitle {
    margin: 0;
    color: #717274;
}

.Subsection .content {
    margin-top: 2rem;
    display: grid;
    gap: 2rem;
    color: #717274;
    justify-items: center;
}