@import "./styles/components.css";
@import "./styles/layout.css";

:root {
  --font-title: 'Inter', system-ui, sans-serif;
  --font-text: 'Aeonik', system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0; 
}