.grid {
    display: grid;
}

/* gaps */
.gap-xs {
    gap: var(--gap-xs);
}
.gap-sm {
    gap: var(--gap-sm);
}
.gap-md {
    gap: var(--gap-md);
}
.gap-lg {
    gap: var(--gap-lg);
}
.gap-xl {
    gap: var(--gap-xl);
}

/* alignment */
.align-start {
    align-items: start;
}
.align-center {
    align-items: center;
}
.align-end {
    align-items: end;
}
.align-stretch {
    align-items: stretch;
}

/* justify */
.justify-start {
    justify-items: start;
}
.justify-center {
    justify-items: center;
}
.justify-end {
    justify-items: end;
}
.justify-stretch {
    justify-items: stretch;
}

/* Desktop columns */
.cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}
.cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
.cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}
.cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
}
.cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
}

/* Mobile overrides */
@media (max-width: 720px) {
    .colsMobile-1 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .colsMobile-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .colsMobile-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .colsMobile-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .colsMobile-5 {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
    .colsMobile-6 {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }
}