.stack {
    display: flex;
    flex-direction: column;
}

/* Algnment */
.align-start {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.align-stretch {
    align-items: stretch;
}

/* gaps */
.gap-xs {
    gap: 0.4rem;
}

.gap-sm {
    gap: 0.8rem;
}

.gap-md {
    gap: 1.2rem;
}

.gap-lg {
    gap: 1.6rem;
}

.gap-xl {
    gap: 2.4rem;
}